<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>CostaLibros</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>

    <!-- Formulario de contacto -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h3>Contáctenos</h3>
                <p>Utilice el siguiente formulario para ponerse en contacto con nosotros. Estamos encantados de escuchar sus comentarios y responder a sus consultas.</p>
                <form action="#" method="post">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" name="mensaje" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin del formulario de contacto -->

    <footer th:replace="~{layout/plantilla :: footer}"/>               
</body>
</html>
