<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>CostaLibros</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>
    
    <article>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h2>Bienvenido a CostaLibros</h2>
                    <p>Descubre un mundo de conocimiento y aventuras literarias en nuestra librería. En CostaLibros, nos esforzamos por ofrecerte una amplia selección de libros de diferentes géneros, desde clásicos atemporales hasta las últimas novedades.</p>
                    <p>Explora nuestras estanterías virtuales y sumérgete en historias fascinantes que te transportarán a mundos imaginarios, te inspirarán y te enriquecerán.</p>
                </div>
            </div>
        </div> 

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h3>¿Quiénes somos?</h3>
                    <p>Somos un equipo apasionado de lectores y amantes de los libros que busca compartir esa pasión contigo. En CostaLibros, nos esforzamos por ofrecerte una experiencia única donde puedas encontrar ese libro especial que estás buscando, así como descubrir nuevas historias y autores.</p>
                    <p>Nuestra misión es promover la lectura y el amor por los libros, proporcionando un espacio acogedor donde puedas explorar, aprender y disfrutar de la magia de la literatura.</p>
                </div>
            </div>
        </div> 

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h3>Nuestra historia</h3>
                    <p>CostaLibros nació de la pasión por la lectura y el deseo de crear un lugar donde los amantes de los libros puedan reunirse, compartir ideas y descubrir nuevas obras. Desde nuestros humildes comienzos, hemos crecido hasta convertirnos en un punto de referencia en la comunidad literaria.</p>
                    <p>Con una amplia selección de libros de diferentes géneros y temas, así como eventos y actividades culturales, CostaLibros se ha convertido en mucho más que una simple librería: es un lugar donde se encuentran la imaginación, la creatividad y el conocimiento.</p>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h3>Los tres libros más vendidos</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                         <iframe width="560" height="315" src="https://www.youtube.com/embed/sQzm5W8b3TA?si=Ak6J1dwpJ-hpxf93" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" "allowfullscreen" ></iframe>
                    </div>
                        </div>
                </div>
        </div> 
    </article>
    
    <footer th:replace="~{layout/plantilla :: footer}"/>               
</body>
</html>
